Repository gardener/gardener-extension-runtime-gvisor, pull requests merged in 2022-08, with the labels that each got.

#52 Remove install-requirement and use tools.mk
  .gitignore
  Makefile
  hack/tools/bin/.gitkeep
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#56 Don't deploy `PSP`s when `PodSecurityPolicy` plugin is disabled
  charts/internal/gvisor/templates/psp-gvisor.yaml
  charts/internal/gvisor/templates/rbac-gvisor.yaml
  charts/internal/gvisor/values.yaml
  pkg/charts/charts_test.go
  pkg/charts/values.go
  pkg/controller/actuator_reconcile.go
  pkg/controller/controller_test.go
Labels: area/open-source, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/m, merge/squash

#53 Update alpine version to 3.16.1 and go version to 1.18.5
  .golangci.yaml
  .test-defs/TestSuiteGvisorBetaSerial.yaml
  Dockerfile
Labels: kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/xs

#57 Build Multi-Arch Images
  .ci/pipeline_definitions
Labels: needs/ok-to-test
