Repository gardener/gardener-extension-runtime-gvisor, pull requests merged in 2025-02, with the labels that each got.

#176 Forbid container escalation privileges
  charts/gardener-extension-runtime-gvisor/templates/deployment.yaml
  example/controller-registration.yaml
  test/integration/container-runtime/container_runtime.go
Labels: needs/ok-to-test, reviewed/lgtm

#184 Add script and pipeline that automatically bumps gVisor version
  .ci/check_and_bump_gvisor_version.py
  .ci/pipeline_definitions
Labels: needs/ok-to-test, reviewed/lgtm, ci/broken-pipeline-definition

#191 Fix bump-gVisor script compatibility with urllib3 v1
  .ci/check_and_bump_gvisor_version.py
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs
